<?xml version="1.0" encoding="UTF-8"?>
<module name="org.apache.logging.log4j" xmlns="urn:jboss:module:1.3">
    <resources>
        <resource-root path="log4j-api-2.6.2.jar"/>
        <resource-root path="log4j-core-2.6.2.jar"/>
        <resource-root path="log4j-to-slf4j-2.12.1.jar"/>    
    </resources>
</module>
